
  <form>
    <div class="form-group">
    <%= form_with(model: recruitment) do |form| %>
      <% if recruitment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(recruitment.errors.count, "error") %> prohibited this recruitment from being saved:</h2>
    
          <ul>
            <% recruitment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </form>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= form.text_field :first_name, class: "form-control", placeholder: "Nombre" %>
      </div>
      <div class="col">
        <%= form.text_field :last_name, class: "form-control col-md-12", placeholder: "Apellido"%>
      </div>
    </div>
  </div>    

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= form.text_field :discordID, class: "form-control col-md-12", placeholder: "Discord" %>
      </div>
      <div class="col">
        <%= form.text_field :status, class: "form-control col-md-12", placeholder: "Status"  %>
      </div>
    </div>
  </div>    

  <div class="form-group">
    <div class="form-row">
      <div class="col">            
        <%= form.text_field :email, class: "form-control col-md-12", placeholder: "name@example.com" %>
      </div>
      <div class="col">       
        <%= form.text_field :phone_number, class: "form-control col-md-12", placeholder: "888-888-8888" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">     
        <%= form.label :ingreso %>
        <%= form.date_select :ingreso, class: "input-group date", placeholder: "Ingreso" %>
      </div>
      <div class="col">     
        <%= form.label :birthdate %>
        <%= form.date_select :birthdate, class: "input-group date", placeholder: "Ingreso" %>
      </div>
    </div>
  </div>

  


  <div class="form-group">
    <div class="form-row">
      <div class="col">                   
        <%= form.text_field :country, class: "form-control col-md-12", placeholder: "Nacionalidad" %>
      </div>
      <div class="col">                   
        <%= form.text_area :note, class: "form-control col-md-12", placeholder: "Notas" %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="form-row">
      <div class="col">    
        <%= form.text_field :alter1, class: "form-control col-md-12", placeholder: "Alter 1" %>
      </div>
      <div class="col">    
        <%= form.text_field :alter2, class: "form-control col-md-12", placeholder: "Alter 2" %>
      </div>
      <div class="col">    
        <%= form.text_field :alter3, class: "form-control col-md-12", placeholder: "Alter 3" %>
      </div>
      <div class="col">    
        <%= form.text_field :alter4, class: "form-control col-md-12", placeholder: "Alter 4" %>
      </div>
      <div class="col">    
        <%= form.text_field :alter5, class: "form-control col-md-12", placeholder: "Alter 5" %>
      </div>
    </div>
  </div>

  <div class="custom-file">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  <div class="actions">
    <button type="submit" class: "btn btn-outline-secondary"><%= form.submit %></button>
  </div>
<% end %>
