<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @recruitment.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @recruitment.last_name %>
</p>

<p>
  <strong>Discordid:</strong>
  <%= @recruitment.discordID %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recruitment.status %>
</p>

<p>
  <strong>Ingreso:</strong>
  <%= @recruitment.ingreso %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @recruitment.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recruitment.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @recruitment.phone_number %>
</p>

<p>
  <strong>Country:</strong>
  <%= @recruitment.country %>
</p>

<p>
  <strong>Alter1:</strong>
  <%= @recruitment.alter1 %>
</p>

<p>
  <strong>Alter2:</strong>
  <%= @recruitment.alter2 %>
</p>

<p>
  <strong>Alter3:</strong>
  <%= @recruitment.alter3 %>
</p>

<p>
  <strong>Alter4:</strong>
  <%= @recruitment.alter4 %>
</p>

<p>
  <strong>Alter5:</strong>
  <%= @recruitment.alter5 %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recruitment.image %>
</p>

<p>
  <strong>Note:</strong>
  <%= @recruitment.note %>
</p>

<%= link_to 'Edit', edit_recruitment_path(@recruitment) %> |
<%= link_to 'Back', recruitments_path %>
