<p id="notice"><%= notice %></p>

<h1>Reclutamientos Rekium Corp</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Status</th>
      <th>Discord Id</th>
      <th>Nacionalidad</th>
      <th>Birthdate</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Ingreso</th>
      <th>Notas</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reclutamientos.each do |reclutamiento| %>
      <tr>
        <td><%= reclutamiento.first_name %></td>
        <td><%= reclutamiento.last_name %></td>
        <td><%= reclutamiento.status %></td>
        <td><%= reclutamiento.discordId %></td>
        <td><%= reclutamiento.nacionalidad %></td>
        <td><%= reclutamiento.birthdate %></td>
        <td><%= reclutamiento.email %></td>
        <td><%= reclutamiento.phone_number %></td>
        <td><%= reclutamiento.ingreso %></td>
        <td><%= reclutamiento.notas %></td>
        <td><%= reclutamiento.image %></td>
        <td><%= link_to 'Show', reclutamiento %></td>
        <td><%= link_to 'Edit', edit_reclutamiento_path(reclutamiento) %></td>
        <td><%= link_to 'Destroy', reclutamiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reclutamiento', new_reclutamiento_path %>
