<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @reclutamiento.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @reclutamiento.last_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reclutamiento.status %>
</p>

<p>
  <strong>Discordid:</strong>
  <%= @reclutamiento.discordId %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @reclutamiento.nacionalidad %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @reclutamiento.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reclutamiento.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @reclutamiento.phone_number %>
</p>

<p>
  <strong>Ingreso:</strong>
  <%= @reclutamiento.ingreso %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @reclutamiento.notas %>
</p>

<p>
  <strong>Image:</strong>
  <%= @reclutamiento.image %>
</p>

<%= link_to 'Edit', edit_reclutamiento_path(@reclutamiento) %> |
<%= link_to 'Back', reclutamientos_path %>
